body {
  background: #1a1a2e;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.gamepad {
  position: relative;

  & img {
    position: absolute;
    image-rendering: pixelated;
  }

  & .bg {
    position: relative;
  }

  & .stick-wrap {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.1s;

    & .stick {
      z-index: 1;
      transition: opacity 0.1s;
    }

    & .stick-active {
      z-index: 2;
      opacity: 0;
      transition: opacity 0.1s;
    }

    &.active {
      &.stick {
        opacity: 0;
      }

      & .stick-active {
        opacity: 1;
      }
    }
  }
  & .btn {
    opacity: 0;
    transition: opacity 0.1s;
    z-index: 1;
    &.active {
      opacity: 1;
    }
  }

  & .indicator {
    top: 284px;
    left: 426px;
    z-index: 1;
    animation: blink 1.2s infinite;
    &.connected {
      animation: none;
      opacity: 1;
    }
  }
}

.error {
  color: red;
  font-size: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1a1a2e;
  margin: 0;
  text-transform: uppercase;
}

.error.hidden,
.gamepad.hidden {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  8.33% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  33.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.gamepad.skin_changing {
  & .btn {
    animation: pulse 1s ease-in-out infinite;
  }

  & .stick-active {
    animation: pulse 1s ease-in-out infinite;
  }

  & .stick {
    animation: pulse_reverse 1s ease-in-out infinite;
  }
}

@keyframes pulse {
  0%,
  20% {
    opacity: 0;
  }
  30%,
  70% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse_reverse {
  0%,
  20% {
    opacity: 1;
  }
  30%,
  70% {
    opacity: 0;
  }
  80%,
  100% {
    opacity: 1;
  }
}
